* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./pics/background.jpg");
  background-size: cover;
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 67vh;
  border-top: olive double 2px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 3vh;
  height: 12vh;
  color: rgb(223, 22, 7);
  font-family: "Petit Formal Script", cursive;
}

main {
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

body {
  height: 100vh;
  background-color: rgb(221, 237, 205);
}

/* ##################### Form  ##################### */
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(143, 151, 90);
  width: 45vw;
  padding: 3vh;
  height: 60vh;
  box-shadow: rgb(22, 36, 16) 1px 1px 5px 1px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

label {
  padding-top: 2vh;
  font-size: 25px;
  color: rgb(15, 31, 2);
}

input,
textarea,
select,
button {
  margin: 1vh 5vw;
  width: 20vw;
  height: 7vh;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

input,
textarea,
select {
  padding-left: 15px;
  padding-top: 15px;
}

#number {
  margin-left: 2.7vw;
}

#message {
  margin-left: 6.2vw;
  height: 10vh;
}

#role {
  margin-left: 10.9vw;
  width: 18vw;
}

input[type="submit"],
button {
  margin-left: 24.5vw;
  width: 10vw;
  background-color: rgb(73, 116, 53);
  color: white;
  cursor: pointer;
  padding: 15px;
}

/* ##################### View  ##################### */

#viewMain {
  padding-left: 10vh;
}

#view {
  background-color: rgb(221, 237, 205);
  width: 40vw;
  border: solid 1px grey;
  box-shadow: rgb(73, 116, 53) 1px 1px 5px 1px;
}

#red {
  border: 1px grey solid;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

#view p {
  border-left: double rgb(237, 82, 15) 10px;
  margin-left: 2vw;
  padding: 2.3vw;
  font-size: 22px;
}

#red div {
  padding: 2vw;
  font-family: "Petit Formal Script", cursive;
}

/* ##################### Notes  ##################### */

#notesWrapper {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: scroll;
  border-top: olive double 2px;
}

#notes {
  height: 18vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 3vw;
  margin: 1vh;
  margin-right: 16vh;
}

#notes:last-child {
  margin-left: 2vw;
}

#notes:first-child {
  margin-right: 13vh;
}

#notes p {
  width: 35vw;
  margin-top: 1vh;
}

h3 {
  font-size: 1.8rem;
  border-bottom: grey solid 3px;
  border-radius: 5px;
}

.role {
  font-style: italic;
  color: rgb(87, 92, 83);
}

/* ##################### PopUp  ##################### */

#popUp {
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#card {
  width: 35%;
  height: 80%;
  background-color: rgb(234, 240, 227);
  z-index: 3;
  padding-bottom: 2vh;
  border-radius: 5px;
  position: absolute;
}

#overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: black;
  /* opacity: 100%; */
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

ul {
  list-style: none;
  font-size: 25px;
  margin-left: 2.5vw;
}

li {
  margin-bottom: 6vh;
}

h2 {
  font-size: 40px;
  margin: 8vh 0vw 5vh 2vw;
}

#buttons {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

#card button {
  width: 25vw;
  height: 8vh;
  margin-left: 1.9vw;
  margin-right: 2vw;
}

#card button:nth-child(even) {
  background: transparent;
  border: none;
  color: rgb(73, 116, 53);
}

#card button:nth-child(even):hover {
  background-color: rgb(30, 70, 12);
  color: white;
}

#card button:nth-child(odd):hover,
input[type="submit"]:hover {
  background-color: rgb(113, 148, 97);
}
